[user]
	email = k.tran@liqd.net
	name = Kha
[core]
	excludesfile = /Users/khamui/Desygner/remote_dev/webrand/.gitignore
	editor = code -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/kha/.stCommitMsg
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[push]
	default = simple
[pull]
	default = simple
