[user]
	email = kha@desygner.com
	name = Kha Tran
[core]
	excludesfile = /Users/kha/.gitignore_global
	editor = code
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/kha/.stCommitMsg
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "